<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Computer Accessories</h6>
		<div>
			<div><a href="https://gquick.com/product-category/accessories/mice">Mice</a></div>
			<div><a href="https://gquick.com/product-category/accessories/keyboards">Keyboards</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Phone Accessories</h6>
		<div>
			<div><a href="https://gquick.com/product-category/accessories/phone-holders">Phone Holders</a></div>
			<div><a href="https://gquick.com/product-category/accessories/power-banks">Power Banks</a></div>
			<div><a href="https://gquick.com/product-category/accessories/phone-covers">Phone Covers</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h5 class="my-3">Hand Accessories</h6>
		<div>
			<div><a href="https://gquick.com/product-category/accessories/watches/">Watches</a></div>
		</div>
	</div>
</div>