<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Fragrances</h6>
		<div>
			<div><a href="https://gquick.com/product-category/cosmetics/perfumes/">Perfumes</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/hand-foaming-soaps">Hand Foaming Soaps</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/shower-gels">Shower Gels</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/body-mists">Body Mists</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/body-lotions/">Body Lotions</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Skin Care</h6>
		<div>
			<div><a href="https://gquick.com/product-category/cosmetics/skin-tonners">Skin Tonners</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/skin-lighteners">Skin Lighteners</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/skin-brighteners">Skin Brighteners</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/body-lotions">Body Lotions</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Beauty</h6>
		<div>
			<div><a href="https://gquick.com/product-category/cosmetics/lip-sticks">Lip Sticks</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/lip-shinners">Lip Shinners</a></div>
			<div><a href="https://gquick.com/product-category/cosmetics/lip-creams">Lip Creams</a></div>
		</div>
	</div>
</div>