<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Alcohols</h6>
		<div>
			<div><a href="https://gquick.com/product-category/foods-and-beverages/wines">Wines</a></div>
			<div><a href="https://gquick.com/product-category/foods-and-beverages/spirits">Spirits</a></div>
			<div><a href="https://gquick.com/product-category/foods-and-beverages/beers">Beers</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Edibles</h6>
		<div>
			<div><a href="https://gquick.com/product-category/foods-and-beverages/chocolates">Chocolates</a></div>
			<div><a href="https://gquick.com/product-category/foods-and-beverages/chewables">Chewables</a></div>
			<div><a href="https://gquick.com/product-category/foods-and-beverages/nuts">Nuts</a></div>
		</div>
	</div>
</div>