<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Kitchen</h6>
		<div>
			<div><a href="https://gquick.com/product-category/kitchenware/air-fryers/">Air Fryers</a></div>
			<div><a href="https://gquick.com/product-category/kitchenware/pressure-cookers/">Pressure Cookers</a></div>
			<div><a href="https://gquick.com/product-category/kitchenware/rice-cookers/">Rice Cookers</a></div>
			<div><a href="https://gquick.com/product-category/kitchenware/microwaves/">Microwaves</a></div>
			<div><a href="https://gquick.com/product-category/kitchenware/refrigerators/">Refrigerators</a></div>
			<div><a href="https://gquick.com/product-category/kitchenware/blenders/">Blenders</a></div>
			<div><a href="https://gquick.com/product-category/kitchenware/juicers/">Juicers</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Home Electronics</h6>
		<div>
			<div><a href="https://gquick.com/product-category/electronics/home-electronics/vacuum-cleaners/">Vacuum Cleaners</a></div>
			<div><a href="https://gquick.com/product-category/electronics/home-electronics/televisions-home-electronics/">Televisions</a></div>
			<div><a href="https://gquick.com/product-category/electronics/speakers/">Speakers</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Mobile Electronics</h6>
		<div>
			<div><a href="https://gquick.com/product-category/electronics/home-electronics/mobile-phones/">Mobile Phones</a></div>
			<div><a href="https://gquick.com/product-category/electronics/speakers/">Speakers</a></div>
			<div><a href="https://gquick.com/product-category/accessories/watches/">Watches</a></div>
			<div><a href="https://gquick.com/product-category/accessories/headsets/">Headsets</a></div>
		</div>
	</div>
</div>