<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Gaming Controllers</h6>
		<div>
			<div><a href="https://gquick.com/product-category/gaming/play-station-controllers">Play Station Controllers</a></div>
			<div><a href="https://gquick.com/product-category/gaming/xbox-controllers">XBOX Controllers</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Gaming Consoles</h6>
		<div>
			<div><a href="https://gquick.com/product-category/gaming/xbox-consoles">XBOX Consoles</a></div>
			<div><a href="https://gquick.com/product-category/gaming/play-station-consoles">Play Station Consoles</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Gaming Compters</h6>
		<div>
			<div><a href="https://gquick.com/product-category/gaming/gaming-laptops">Gaming Laptops</a></div>
			<div><a href="https://gquick.com/product-category/gaming/gaming-desktops">Gaming Dektops</a></div>
			<div><a href="https://gquick.com/product-category/gaming/gaming-tablets">Gaming Tablets</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Gaming Accessories</h6>
		<div>
			<div><a href="https://gquick.com/product-category/gaming/gaming-mice">Gaming Mice</a></div>
			<div><a href="https://gquick.com/product-category/gaming/gaming-keyboards">Gaming Keyboards</a></div>
			<div><a href="https://gquick.com/product-category/gaming/gaming-headsets">Gaming Headsets</a></div>
			<div><a href="https://gquick.com/product-category/gaming/games">Video Games</a></div>
		</div>
	</div>
</div>