<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Physical Exercise</h6>
		<div>
			<div><a href="https://gquick.com/product-category/health-and-fitness/workout-kits">Workout Kits</a></div>
			<div><a href="https://gquick.com/product-category/health-and-fitness/yoga-mats">Yoga mats</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Diet Supplements</h6>
		<div>
			<div><a href="https://gquick.com/product-category/health-and-fitness/vitamins-health-and-fitness/">Vitamins</a></div>
			<div><a href="https://gquick.com/product-category/health-and-fitness/ions">Ions</a></div>
		</div>
	</div>
</div>