<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Kitchen</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/air-fryers">Air Fryers</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/pressure-cookers">Pressure Cookers</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/rice-cookers">Rice Cookers</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/microwaves">Microwaves</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/refrigerators">Refrigerators</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Dinning</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/table-mats">Table Mats</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/scented-candles">Scented Candles</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/unscented-candles">Unsceneted Candles</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/utensils">Utensils</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/cutlery">Cutlery</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Furniture</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/tables">Tables</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/chairs">Chairs</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/cupboards">Cupbards</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Cleaning</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/vacuum-cleaners">Vacuum Cleaners</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/soap">Cleaning Soap</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/brushes">Brushes</a></div>
		</div>
	</div>
</div>