<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Gardening</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/gardening-tools">Gardening Tools</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Power</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/solar-lights">Solar Lights</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/air-coolers">Air coolers</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/air-heaters">Air heaters</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Outdoor Beauty</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/water-fountains">Water fountains</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/floor-deckings">Floor decking</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/artificial-plants">Artificial Plants</a></div>
			<div><a href="https://gquick.com/product-category/outdoor/plant-pots/">Plant Pots</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Arts & Crafts</h6>
		<div>
			<div><a href="https://gquick.com/product-category/outdoor/plant-pots/">Plant Pots</a></div>
		</div>
	</div>
</div>