<div class="row">
	<div class="col-md-4">
		<h6 class="my-3">Survaillance Equipemet</h6>
		<div>
			<div><a href="https://gquick.com/product-category/accessories/security-cameras">Security Cameras</a></div>
			<div><a href="https://gquick.com/product-category/accessories/walkie-talkies">Walkie Talkies</a></div>
		</div>
	</div>

	<div class="col-md-4">
		<h6 class="my-3">Smart Detectors</h6>
		<div>
			<div><a href="https://gquick.com/product-category/accessories/metal-detectors">Metal Detectors</a></div>
		</div>
	</div>
</div>